node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Generated proof files
proof.json
proof_tampered.json
public.json
witness.wtns
*.wtns

# Generated input files
static/input.json
plonk/pixels.json
plonk/Prover.toml

# Noir/PLONK compiled files
plonk/target/
